$banner-height: 450px;
$login-height: 30px;
$header-bg: #ECECEC;
$content-bg: #fff;
$content-padding: 20px 30px;
$list-p-color: #999;
$card-padding: 10px 16px;
$header-height: 84px;

#app{
    min-width: 1000px;
}